 #navigation{
  position: sticky;
 
  }
  #navigation .navbar-nav .nav-item {
    padding:10px;
}
  #navigation ul li a{
  color: white;
  
  }
  .dropdown-menu{
    background-color: black;
    color:white;
    justify-content: center;
  }
  .dropdown-menu :hover{
    color: black !important;
    background-color: white !important;
  }
  .nav-item dropdown{
    padding: 300px !important;
  }
  .body img{
    height:600px;
    width:1200px;
    padding-left:40px;
    margin-left:50px;
  }
 .body2{
  padding: 40px;
  margin: 50px;
  justify-content: center;
  text-align: center;
  background-color: #e1dada;
  
 }
 .card-img-top{
  width: 600px;
  height:550px;
 }
 .img-fluid {
  display: block;
  width: 100%;
  height: 300px;
}
#imgpro{
  height: 250px;
  width: 250px;
}
.fineprod{
  text-decoration: underline blueviolet;
  text-align: center;
}
 .image-text {
  position: relative;
  bottom: 70px;
  left: 40px;
  width: 300px; 
  height:40px;
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  border-radius: 10px;
  background-color: #696969;
  color:#FFFFFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.feature{
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body4 figure img{
 width:210px;
 height:250px;

}
figcaption{

  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;

}
.bat{
  transition: transform 0.5s ease;
}
.bat :hover{
  transform: scale(0.9);
}
.newprod{
  text-align: center;
  text-decoration:underline blue;
}

.prod{
  text-align: center;
  text-decoration: underline green;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}

.logo {
  width: 100px; 
  height: 40px; 
  margin:20px;
  opacity: 0;
  animation: logoFadeIn 3s forwards;
  float: right;
justify-content: space-between;

}

@keyframes logoFadeIn {
  0% { opacity: 0; transform: translateX(20px); } 
  100% { opacity: 1; transform: translateX(0); } 
}

.logo:nth-child(1) { animation-delay: 0s; } 
.logo:nth-child(2) { animation-delay: 0.5s; } 
.logo:nth-child(3) { animation-delay: 1s; } 
.logo:nth-child(4) { animation-delay: 1.5s; } 
.logo:nth-child(5) { animation-delay: 2s; } 
.logo:nth-child(6) { animation-delay: 2.5s; }
.logo:nth-child(7) { animation-delay: 3s; } 
.logo:nth-child(8) { animation-delay: 3.5s; } 
.logo:nth-child(9) { animation-delay: 4s; }

.log1{
  text-align: center;
  padding:30px
}
.log1:hover{
  text-decoration: underline green;
}
.ourloc{
  text-align: center;
}
.location{
  padding-left:200px;
  margin-left:200px;
}
.foo{
  text-align:left;
}
.text {
  color:blue;
  text-align: center;
  font-style: italic;
}
.logoss1 img{
padding-left:20px;
}
.backimg{
  background-image: url("C:\Users\koppi\Downloads\cricket app\cricket app\assets\main\Cricketempire.jpg");
}

@media(min-width:725px){
  #availprod {
  display: none;
}
}

@media(max-width:576px){
  .text{
    text-align: center;
  }
  .navbar{
    display: none;
  }
  .body img{
    width:400px;
    height:350px;
  }
  .body2{
    background-color: #FFFFFF;
  }
  .img-fluid {
    display: block;
    width: 100%;
    height: 300px;
  }
  .image-text {
    position: relative;
    bottom: 70px;
    left: 40px;
    width: 200px; 
    height:40px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
  }
  #availprod ul li{
    margin:10px;
    padding:10px;
    float: left;
    list-style-type: none;
    text-decoration: underline;
    }
   
    .avail{
      text-align: center;
    }
    .card-img-top{
      width: 200px;
      height:275px;
     }
     .logos{
      display: none;
     }
     .loco1{
      display: none;
     }
     .foo{
      size: 5px;
     }

     }
